[Unit]
Description=uWSGI instance to serve CS2006
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html/cs2006/cs2006
ExecStart=/var/www/html/cs2006/venv/bin/uwsgi --ini /var/www/html/cs2006/cs2006/cs2006.ini

[Install]
WantedBy=multi-user.target