<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">

    <meta charset="UTF-8">
    <title>CS2004 notes by Sohil</title>
    <script type="text/javascript" src="static/addSomeColors.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles.min.css">
</head>

<body>
<div id="navbar">
    {% for item in navbar %}
        <span><a href="{{ item }}">{{ item }}</a></span>
    {% endfor %}
</div>

<div>
    {% block content %}
    {% endblock %}
</div>
<script>addColors();</script>
</body>
</html>